<footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
        <span>2018—{{ now.Year }} | <a href="/7095142E244B1034FE6DFFBF783AE3399DF6CC32.asc">pgp</a> | <a href="mailto:contact@tonieris.com">email</a> | <a href="https://github.com/0foxes">github</a> | <a href="https://www.linkedin.com/in/0foxes/">linkedin</a></span>
      </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
